@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to myWebApp</h1>
    
    <br />

    <p>by Ing. Rogelio Clemente Balderas</p>
    <p>The time on the server is @DateTime.Now</p>
</div>
